body{
	background-color: lightblue;
}
.header_image img{
	max-height: 400px;
	min-width: 100%;

}
.container-fluid{
	padding-left: 0%;
	padding-right: 0%;
	margin-left: 0%
	margin-right:0%;
}
.navbar-inner{
	background-color: black;
}


