<!Doctype html>

<html> 
<head> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<link rel="stylesheet">

		<title>Home Page</title>
</head>
<header>

		<div class = "navbar">
			<div class ="navbar-inner">
			 <ul class = "container-fluid">
			 <ul class = "nav">

			 	<li class = "col-xs-3"> <a href = "#">Home </a></li>
			 	<li class = "col-xs-3"><a href = "#"> About Me </a></li>
			 	<li class = "col-xs-3"><a href = "#"> Projects </a></li>
			 	<li class = "col-xs-3"><a href = "#"> Wierdo </a></li>
			 </ul>
			 </ul>
			</div>
		</div>

</header>
<body style = "background-color: black">
	<div class = "col-xs-offset-4">
	   <h1 style = "color: white">WHO DARES ENTER</h1>
	</div>
	<div class = "header_image">
		<img src = "http://i2.kym-cdn.com/photos/images/newsfeed/000/475/908/af7.gif">
	</div>
	<div class = "Something">
		<h1> Currently Working On These Projects </h1>
		<ul> 
		  <li> <a href = "/login"> MySQL Authentication Site</a></p></li>
		</ul>
	</div>
</body>


</html>